   body
   {

   	padding: 31px;
   } 
   img
   {
   	width: 195px;
   	height: 208px;
   	border-radius: 50px;
   	position: absolute;
   	z-index: 0;
   }
   #text
   {
   	background-color: green;
   	position: absolute;
   	height: 200px;
   	left: 230px;
   }