.flex-container
{
	display: flex;
	flex-direction: column;   
}
#box2
{
	height: 312px;
	display: flex;
	flex-direction: row;
}
#box1
{
	display: flex;
	height: 80px;
	background: lime;
	padding: 10px;
}
#box3
{
	height: 80px;
	background: lime;
}
#article
{
	background-color: white;
	flex-grow: 6;
	padding: 10px;
}
#aside
{
	background-color: lightyellow;
	flex-grow: 1;
	padding: 10px;
}
#nav
{
	background-color: lightblue;
	flex-grow: 1;
	padding: 10px;
}
.flex-container1
{
	display: flex;
	height: 303px;
	justify-content: center;
}
#a
{
	background-color: blue;
	height: 75px;
	width: 100px;
	align-self: flex-start;
	order: 3;
}
#b
{
	background-color: green;
	height: 75px;
	width: 100px;
	align-self: center;
	order: 4;
}
#c
{
	background-color: red;
	height: 75px;
	width: 100px;
	align-self: flex-start;
	order: 1;
}
#d
{
	background-color: orange;
	height: 75px;
	width: 100px;
	align-self: center;
	order: 2
}
/*img
{
	height: 100px;
	width: 75px;
}*/