.flex-container
{
	display: inline-flex;
	background-color: yellow;
	padding: 32px;
	
}
#box1>div
{
	padding: 10px;
	justify-content: space-between;

}
.one
{
	width: 289px;
	height: 27px;
}
.pickup
{
	width: 210px;
	height: 27px;

}
#option
{
	width: 245px;
	height: 27px;
}
.drop
{
	width: 239px;
	height: 27px;
}
button
{
	margin-left: 179px;
	height: 40px;
	width: 162px;
	background-color: gray;
}
#box2
{
	margin-left: 40px;
}

